*.csv
*.pt
*.log
*.json
*.tsv
*.tfevents
*.npy
*.pyc
/BaseLine_code/log
/BaseLine_code/.ipynb_checkpoints
/BaseLine_code/src/.ipynb_checkpoints
/BaseLine_code/catboost_info
/BaseLine_code/src/data/.ipynb_checkpoints